footer {
    background-color: rgba(192, 192, 192, 0.904);
    padding: 30px;

    a{
        padding: 5px 10px 5px 0;
        text-decoration: none;
        color: #ff4500;
        font-size: 20px;
    }

    .icons {

        a{
            padding-right:  15px;
        }

        .icon {
          font-size: 30px;
          color: #663399;
        }
       }

    p{
        color: rgb(75, 74, 74);
    }

    .social {
        width: 49%;
        display: inline-block;

    }

    .contact {
        width: 50%;
        display: inline-block;
        .contact-form {
            background-color: white;
            border-radius: 5px;
            padding: 20px;
            max-width: 370px;
            min-width: 365px;


            p {
                margin-top: 0;

                &:first-child{
                    font-style: italic;
                }
            }

            input {
                padding-left: 5px;
            }
        }
    }

    @media (max-width: 730px) {
        .info {
            display: none;
        }

        .contact {
            width: 100%;
            text-align: center;
            padding-bottom: 40px;

            .contact-form {
                display: inline-block;
                text-align: left;
            }
        }

        .social {
            position: relative;
            top: 208px;
            left: calc(36%);
        }
    }

    .info {
        margin-bottom: 30px;
    }

}