header {
	margin: 20px 0;

	.icon-menu, .icon-close {
		display: none;
		position: absolute;
		font-size: 50px;
		cursor: pointer;
		left: 0px;
		color: #663399;
	}

	@media (max-width: 894px) {
		.nav-bar,.shipping  {
			display: none;
		}

		.icon-menu {
			display: inline;
		}

		@media (max-width: 670px) {
			.search {
				display: none;
			}
		}
	}

	@media (max-width: 811px) {
		.icon-menu {
			display: inline-block;
		}

		.title {
			font-size: 14px;

			@media (max-width: 420px) {
				text-align: right !important;
			}
		}
	}

	.title {
			line-height: 13px;
			text-align: center;

			h1 {
					color: #ff4500;
					font-weight: normal;
					margin: 0;
			}

			span.description {
					display: inline-block;
					font-weight: bold;
					font-style: italic;
					color: #663399;
					font-family: 'Snell Roundhand', cursive;
					letter-spacing: -1.5px;

					&::before, &::after {
							content: ' | ';
							font-style: normal;
							padding: 10px;
							display: inline-block;
							transform: rotate(90deg);
					}
			}
	}

	.shipping {
			color: #ff4500;
			font-style: italic;
			font-family: sarif;

			i {
					font-weight: bold;
			}
	}

	.search {
		.ion-ios-search-strong {
			position: absolute;
			font-size: 20px;
			left: 25px;
			cursor: pointer;
			color: #ff4500;
		}

		input {
			margin: 0;
		}

		@media (max-width: 575px) {
			margin-left: 16.66666%
		}
	}

	.bag {
			color: dimgray;
			text-transform: uppercase;

			.bag-size{
					color: #ff4500;
					font-style: normal;
					font-weight: bold;
			}

			span {
				margin: 0 5px;
				vertical-align: super;
			}

			.bag-size {
				vertical-align: super;
			}

			.ion-ios-cart {
				color: #663399;
				font-size: 40px;
				vertical-align: middle;
				position: relative;
				top: -13px;
			}
	}

	&.menu-open {
		.icon-menu, .title h1, .title .description, .bag {
			display: none;
		}

		.title {
			max-width: calc(100% - 70%);
		}

		.icon-close, .search {
			display: inline;
		}

		.nav-bar {
			display: block;
		}
	}
}