.nav-bar {
	text-align: center;
	background-color: #663399;
	color: white;
	font-family: sarif;
	font-style: italic;

	nav {
		display: inline-block;

		ul {
			padding: 0;

			li {
				display: inline;
				padding: 10px 20px;
								border-radius: 5px;

				a {
									text-decoration: none;
									color: white;

									&::after{
											content: ' ';
											display: inline-block;
											border: white solid;
											border-left: 5px solid transparent;
											border-right: 5px solid transparent;
											border-bottom: 5px solid transparent;
											position: relative;
											left: 10px;
									}

							}

							&:hover{
								background-color:#4e0597;
							}

							&:last-child(){
								a {
									&::after{
										display: none;
									}
								}
							}
						}
		}
	}
}

.nav-bar-sing {
	display: inline-block;

	a {
		padding: 0 10px;
		text-decoration: none;
				color: white;


				&:hover{
					color:#4e0597;
				}
	}
}