.item-potion {
		padding: 40px 0;
    cursor: pointer;
    
    .description{

    }

    .price {
				color: #ff4500;
				font-size: 14px;
    }

    @media (max-width: 575px) {
      img {
        max-width: 200px;
      }
    }
}